nav {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  z-index: 100;
  left: 0;
  right: 0;
  top: 24px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: rgba(240, 240, 240, 0.62);
  border: 4px solid rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
}

nav > p {
  color: black;
  font-weight: 400;
  border: 10px solid transparent;
  margin: -10px;
  cursor: pointer;
}

nav > div {
  width: 100px;
}

nav > img {
  position: absolute;
}

nav:hover {
  border: 4px solid #1EA9DA;
}

nav > p:hover {
  color: #E01A4F;
}
