/*************************
Handcrafted by Aydar N.
2023

me@aydar.media
*************************/

@import 'fonts.css';

*, ::after, ::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a, p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Stolzl';
}

body {
  background-color: white;
}

img, svg {
	-webkit-user-select: none;
}

* {
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}

body > section {
  position: relative;
  width: 100%;
}

body > section:first-of-type {
  margin-top: 60px;
}

h1 {
  font-weight: 400;
  font-size: 96px;
  line-height: 110px;
}

h2, input {
  font-weight: 100;
  font-size: 14px;
  text-transform: lowercase;
}

input {
  font-weight: 400;
}

h3 {
  font-weight: 100;
  font-size: 28px;
  line-height: 40px;
}

p {
  font-weight: 100;
  font-size: 14px;
  line-height: 16px;
}

span {
	font-weight: 400;
}

.cell {
  border-radius: 100px;
}

.inline {
  display: flex;
  align-items: center;
  padding: 0 40px 0 40px;
}

.inline p {
  color: white;
  font-size: 18px;
}

.inline input {
  color: black;
  font-size: 18px;
  width: 100%;
}

.head {
	margin-bottom: 28px;
}

@import 'content.css';
@import 'footer.css';
@import 'input.css';
@import 'nav.css';
@import 'svg.css';
@import 'three.css';
